In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import copy
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
#from pyspark import SparkContext, SparkConf
#sc =SparkContext()
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [12]:
earthquake_data = pd.read_csv("earthquake_data.csv")
print(earthquake_data.columns)
earthquake_data.head(3)

Index(['ISO', 'Country', 'latitude', 'longitude', 'depth', 'mag', 'year',
       'month', 'day', 'Total affected', 'Total deaths',
       'Total damage ('000 US$)', '2017'],
      dtype='object')

,ISO,Country,latitude,longitude,depth,mag,year,month,day,Total affected,Total deaths,Total damage ('000 US$),2017
0,AFG,Afghanistan,35.169,69.389,62.100,5.000,2001.000,6.000,1.000,270,4,0,0.498
1,AFG,Afghanistan,36.429,70.438,209.000,6.300,2002.000,3.000,3.000,3513,150,0,0.498
2,AFG,Afghanistan,33.426,69.524,10.000,5.200,2004.000,7.000,18.000,1040,2,0,0.498

In [13]:
population_data = pd.read_csv("population_data.csv")
population_density_data = population_data.drop(['Unnamed: 0','UN_2000_DS','UN_2005_DS',
                                                'UN_2010_DS','UN_2015_DS','UN_2020_DS'],axis=1)
print(population_density_data.shape)
population_density_data['index']=population_density_data.index
population_density_data.head(3)

(2378877, 9)

,ISOALPHA,NAME1,CENTROID_X,CENTROID_Y,UN_2000_E,UN_2005_E,UN_2010_E,UN_2015_E,UN_2020_E,index
0,ITA,Marche,13.452,43.288,93,95,95,95,94,0
1,CAN,Quebec / Quebec,-71.288,46.971,23,29,36,44,53,1
2,ITA,Veneto,12.387,44.922,99,97,93,89,84,2

In [4]:
population_density_data.columns

Index(['ISOALPHA', 'NAME1', 'CENTROID_X', 'CENTROID_Y', 'UN_2000_E',
       'UN_2005_E', 'UN_2010_E', 'UN_2015_E', 'UN_2020_E', 'index'],
      dtype='object')

In [14]:
def myround(x, base=5):
    return int(base * round(float(x)/base))

def get_coords_diff(lat_fix, long_fix, lat, long):
    x = (lat-lat_fix)**2 + (long-long_fix)**2
    return x

def get_pop(iso, lat, long, year, lat_range, long_range, pop_data):
    population_data = pop_data[pop_data['ISOALPHA']==iso]
    lat_range = (population_data['CENTROID_Y']>(lat-lat_range)) & (population_data['CENTROID_Y']<=(lat+lat_range))
    long_range = (population_data['CENTROID_X']>(long-long_range)) & (population_data['CENTROID_X']<=(long+long_range))
    population_data = population_data[lat_range&long_range]
    rounded_year = myround(year)
    year_col = "UN_{}_E".format(rounded_year)
    pop_count = population_data[year_col].values.sum()
    return pop_count

def get_pop2(iso, lat, long, year, pop_data):
    population_data = pop_data[pop_data['ISOALPHA']==iso]
    range_val = 0.5
    lat_range = (population_data['CENTROID_Y']>(lat-range_val)) & (population_data['CENTROID_Y']<=(lat+range_val))
    long_range = (population_data['CENTROID_X']>(long-range_val)) & (population_data['CENTROID_X']<=(long+range_val))
    population_data = population_data[lat_range&long_range]
    diff_list = {row['index']:get_coords_diff(
        lat,long,row['CENTROID_Y'],row['CENTROID_X']) for index, row in population_data.iterrows()}
    if not(bool(diff_list)):
        pop_ds = np.nan
    else:
        min_index = min(diff_list, key=diff_list.get)
        rounded_year = myround(year)
        year_col = "UN_{}_E".format(rounded_year)
        matched_row = population_data[(population_data['index']==min_index)]
        pop_ds = matched_row[year_col].item()
    return pop_ds

In [15]:
earthquake_data['pop_count'] = earthquake_data.apply(lambda x: get_pop(
    x['ISO'],x['latitude'],x['longitude'],x['year'],0.5,0.5,population_density_data), axis=1)

In [17]:
unmerged_data = earthquake_data[earthquake_data['pop_count']==0]
print(unmerged_data.shape)
unmerged_data['pop_count'] = unmerged_data.apply(lambda x: get_pop(
    x['ISO'],x['latitude'],x['longitude'],x['year'],1,1,population_density_data), axis=1)

(71, 14)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [18]:
unmerged_data[unmerged_data['pop_count']==0].shape

(39, 14)

In [20]:
unmerged_data.to_csv("unmerged_pop_data.csv",index=False)

In [19]:
earthquake_data

,ISO,Country,latitude,longitude,depth,mag,year,month,day,Total affected,Total deaths,Total damage ('000 US$),2017,pop_count
0,AFG,Afghanistan,35.169,69.389,62.100,5.000,2001.000,6.000,1.000,270,4,0,0.498,1089272
1,AFG,Afghanistan,36.429,70.438,209.000,6.300,2002.000,3.000,3.000,3513,150,0,0.498,228021
2,AFG,Afghanistan,33.426,69.524,10.000,5.200,2004.000,7.000,18.000,1040,2,0,0.498,942340
3,AFG,Afghanistan,34.539,73.588,26.000,7.600,2005.000,10.000,8.000,0,1,50,0.498,0
4,AFG,Afghanistan,37.255,68.828,34.200,5.600,2006.000,7.000,29.000,935,1,0,0.498,749168
5,AFG,Afghanistan,35.633,67.658,13.000,5.600,2010.000,4.000,18.000,1070,11,0,0.498,276305
6,DZA,Algeria,36.964,3.634,12.000,6.800,2003.000,5.000,21.000,210261,2266,5000000,0.754,2527079
7,DZA,Algeria,36.939,3.578,8.000,5.800,2003.000,5.000,27.000,200,9,0,0.754,3150275
8,DZA,Algeria,36.852,3.418,10.000,4.500,2004.000,1.000,10.000,300,0,0,0.754,4412169
9,DZA,Algeria,36.848,3.448,10.000,4.500,2004.000,12.000,1.000,15,0,0,0.754,4091222
10,DZA,Algeria,36.623,5.328,10.000,5.200,2006.000,3.000,20.000,319,4,0,0.754,1793607
11,ASM,Samoa,-15.489,-172.095,18.000,8.100,2009.000,9.000,29.000,2500,34,0,0.713,0
12,ARG,Argentina,-28.937,-66.797,22.200,6.000,2002.000,5.000,28.000,727,0,0,0.825,24875
13,BGD,Bangladesh,22.854,92.306,10.000,5.700,2003.000,7.000,26.000,2525,2,0,0.608,3116473
14,BGD,Bangladesh,3.295,95.982,30.000,9.100,2004.000,12.000,26.000,0,2,500000,0.608,0
15,BRB,Barbados,14.944,-61.274,156.000,7.400,2007.000,11.000,29.000,1,0,0,0.800,0
16,BTN,Bhutan,27.332,91.437,14.000,6.100,2009.000,9.000,21.000,12,11,0,0.612,197281
17,BTN,Bhutan,27.730,88.155,50.000,6.900,2011.000,9.000,18.000,20016,1,0,0.612,0
18,BRA,Brazil,-15.048,-44.231,10.000,4.900,2007.000,12.000,9.000,286,1,0,0.759,142682
19,BGR,Bulgaria,41.708,25.544,10.000,4.600,2006.000,2.000,20.000,527,0,0,0.813,440649
20,BDI,Burundi,-3.393,29.558,10.000,4.700,2004.000,2.000,24.000,120,3,0,0.417,4029997
21,CHL,Chile,-19.987,-69.197,115.600,7.800,2005.000,6.000,13.000,27645,11,5000,0.843,12067
22,CHL,Chile,-45.243,-72.648,36.700,6.200,2007.000,4.000,21.000,0,10,0,0.843,0
23,CHL,Chile,-22.247,-69.890,40.000,7.700,2007.000,11.000,14.000,25155,2,100000,0.843,29538
24,CHL,Chile,-35.200,-72.217,40.700,7.100,2012.000,3.000,25.000,24297,1,100000,0.843,138633
25,CHN,China,25.607,101.063,33.000,5.900,2000.000,1.000,14.000,1855007,7,73500,0.752,1358310
26,CHN,China,40.498,122.994,10.000,5.100,2000.000,1.000,11.000,62030,0,0,0.752,2180727
27,CHN,China,29.513,101.129,33.000,5.600,2001.000,2.000,23.000,300109,3,24000,0.752,40204
28,CHN,China,24.768,99.061,10.000,5.600,2001.000,4.000,12.000,150190,2,31000,0.752,1875049
29,CHN,China,27.689,101.003,33.000,5.500,2001.000,5.000,23.000,10605,2,36000,0.752,353142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,TZA,Tanzania,-1.036,31.618,40.000,5.900,2016.000,9.000,10.000,139601,17,458000,0.538,719717
460,TUR,Turkey,38.429,43.229,5.000,5.600,2011.000,11.000,9.000,105,40,0,0.791,577179
461,AFG,Afghanistan,36.357,71.093,224.600,6.500,2005.000,12.000,12.000,501,5,0,0.498,97991
462,ALB,Albania,41.483,20.388,3.000,5.500,2009.000,9.000,6.000,150,0,0,0.785,451662
463,CHN,China,43.151,82.534,10.000,4.600,2006.000,11.000,2.000,12000,0,291,0.752,212782
464,CHN,China,39.383,81.307,38.000,5.900,2012.000,3.000,8.000,36641,0,84000,0.752,0
465,CHN,China,24.974,97.844,8.000,5.800,2014.000,5.000,23.000,225015,0,60000,0.752,486690
466,ECU,Ecuador,-0.018,-78.322,11.880,5.100,2014.000,8.000,12.000,18,3,0,0.752,3242962
467,SLV,El Salvador,13.835,-89.759,52.700,4.800,2005.000,5.000,4.000,751,1,0,0.674,1974052
468,IRN,Iran,35.217,58.175,33.000,4.900,2000.000,2.000,13.000,1000,0,0,0.798,156975
469,KGZ,Kyrgyzstan,42.156,76.163,11.600,5.800,2006.000,12.000,25.000,12050,0,0,0.672,41369
470,MYS,Malaysia,5.987,116.541,10.000,6.000,2015.000,6.000,4.000,10,24,2,0.802,1184570
471,PHL,Philippines,7.905,125.044,10.000,5.700,2012.000,9.000,3.000,4001,0,0,0.699,1457376
472,CHL,Chile,-36.122,-72.898,22.900,8.800,2010.000,2.000,27.000,2671556,562,30000000,0.843,120324
473,IDN,Indonesia,-8.239,116.508,14.000,6.400,2018.000,7.000,28.000,516927,564,790000,0.694,3561876
474,IDN,Indonesia,4.927,95.907,12.000,6.100,2013.000,1.000,21.000,55935,48,130000,0.694,1142428
475,KAZ,Kazakhstan,42.686,141.929,35.000,6.600,2018.000,9.000,5.000,36626,3,0,0.800,0
476,KGZ,Kyrgyzstan,36.074,129.280,10.000,5.500,2017.000,11.000,15.000,12050,0,0,0.672,0
477,SLV,El Salvador,13.104,-88.061,10.000,5.400,2018.000,5.000,6.000,2499,0,0,0.674,753773
478,NZL,New Zealand,-43.583,172.680,5.900,6.100,2011.000,2.000,21.000,345,1,3000000,0.917,449690
479,PAK,Pakistan,11.642,-85.878,135.000,6.600,2014.000,4.000,11.000,914292,12,500,0.562,0
480,PHL,Philippines,6.513,124.715,10.000,5.700,2009.000,9.000,18.000,28,0,0,0.699,2819337
481,TJK,Tajikistan,37.195,71.583,105.100,4.800,2004.000,3.000,31.000,15427,3,22000,0.650,55716
482,PAK,Pakistan,36.493,71.126,206.000,6.300,2015.000,12.000,25.000,142,6,0,0.562,0
483,CHN,China,31.560,113.210,10.000,4.500,2006.000,10.000,27.000,20000,0,0,0.752,2541995
484,HND,Honduras,14.828,-87.120,32.800,5.300,2007.000,9.000,15.000,1883,0,0,0.617,425448
485,HND,Honduras,16.731,-86.217,19.000,7.300,2009.000,5.000,28.000,50136,7,100000,0.617,49224
486,IDN,Indonesia,-8.194,117.814,21.000,5.600,2016.000,7.000,31.000,86018,104,100000,0.694,239797
487,PER,Peru,-13.843,-71.695,10.000,4.900,2014.000,9.000,28.000,11182,4,0,0.750,724145
488,PER,Peru,-15.654,-72.009,20.000,5.500,2016.000,8.000,15.000,257,1,0,0.750,56991