In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import copy
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
#from pyspark import SparkContext, SparkConf
#sc =SparkContext()
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
earthquake_data = pd.read_csv("earthquake_data.csv")
print(earthquake_data.columns)
earthquake_data = earthquake_data[['ISO','Country','latitude','longitude','depth','mag',
                                   'year','month','day','Total affected', 'Total deaths',"Total damage ('000 US$)"]]
print(earthquake_data.shape)
earthquake_data.head(3)

Index(['index', 'Start date', 'ISO', 'Country', 'Latitude', 'Longitude',
       'Magnitude value', 'Total deaths', 'Total affected',
       'Total damage ('000 US$)', 'Month', 'Year', 'Day', 'Latitude_round',
       'Longitude_round', 'Mag_round', 'time', 'latitude', 'longitude',
       'depth', 'mag', 'place', 'magType', 'year', 'month', 'day',
       'latitude_round', 'longitude_round', 'mag_round', 'country', 'diff_mag',
       'diff_lat', 'diff_long'],
      dtype='object')
(494, 12)

,ISO,Country,latitude,longitude,depth,mag,year,month,day,Total affected,Total deaths,Total damage ('000 US$)
0,AFG,Afghanistan,35.169,69.389,62.100,5.000,2001.000,6.000,1.000,270,4,0
1,AFG,Afghanistan,36.429,70.438,209.000,6.300,2002.000,3.000,3.000,3513,150,0
2,AFG,Afghanistan,33.426,69.524,10.000,5.200,2004.000,7.000,18.000,1040,2,0

In [3]:
earthquake_data.iloc[11,1] = 'Samoa'
earthquake_data.iloc[264,1] = 'United Kingdom'
earthquake_data.iloc[316,1] = 'Macedonia'

In [4]:
hdi_data = pd.read_csv("datasets/Human Development Index (HDI).csv")
hdi_data['Country'] = hdi_data['Country'].apply(lambda x: x[1:])
print(hdi_data['Country'][0])
hdi_data.head(3)

Afghanistan

       Country  2017
0  Afghanistan 0.498
1      Albania 0.785
2      Algeria 0.754

In [5]:
merged_data = pd.merge(earthquake_data,hdi_data,how='left',left_on="Country",right_on="Country")
print(merged_data.shape)
merged_data[merged_data['2017'].isnull()]

(494, 13)

,ISO,Country,latitude,longitude,depth,mag,year,month,day,Total affected,Total deaths,Total damage ('000 US$),2017
87,GLP,Guadeloupe,15.679,-61.706,14.000,6.300,2004.000,11.000,21.000,153,1,0,nan
186,MTQ,Martinique,14.944,-61.274,156.000,7.400,2007.000,11.000,29.000,100,1,0,nan
226,SCG,Serbia Montenegro,42.436,21.466,10.000,5.700,2002.000,4.000,24.000,100,1,0,nan
232,SOM,Somalia,3.295,95.982,30.000,9.100,2004.000,12.000,26.000,105083,298,100000,nan
316,MKD,Macedonia,42.008,21.488,13.200,5.100,2016.000,9.000,11.000,100,0,10000,nan

In [8]:
merged_data.dropna(subset=['2017'],inplace=True)
merged_data.shape

(489, 13)

In [9]:
merged_data.to_csv("earthquake_data.csv",index=False)